{%  extends 'base.html' %}

{% block content%}
<main>       
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">LYCAN</h1>
          <p class="lead text-muted">We are the IS CORE of 2022, be proud and Learn Your Classmates And Names</p>
          <p>
            <a href="#" class="btn btn-primary my-2">Study here</a>
            <a href="#" class="btn btn-secondary my-2">Add yourself or another student here</a>
          </p>
        </div>
      </div>
    </section>
  
    <div class="album py-5 bg-light">
      <div class="container">
  
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for student in our_students %}
                <div class="col">
                    <div class="card shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Could not find image for {{student.fName}} {{student.lName}}</text></svg>

                    <div class="card-body">
                        <p class="card-text">{{student.fName}} {{student.lName}}</p>
                        <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div>
                        <small class="text-muted">Section Number {{student.sectionNum}}</small>
                        </div>
                    </div>
                    </div>
                </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
</main>












    {% for student in our_students %}
        <div class="col">
            <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Could not find image for {{student.fName}} {{student.lName}}</text></svg>

            <div class="card-body">
                <p class="card-text">{{student.fName}} {{student.lName}}</p>
                <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">{{student.sectionNum}}</small>
                </div>
            </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}

{% comment %} We can uncomment this or move the html to another page. I was just trying to find a bootstrap template that could work
{%  extends 'base.html' %}

{% block content%}
<p class="">flash card page</p>


<div class = "container">
    {% for student in our_students %}
    <p>
        {{student.fName}}
        {{student.lName}}
        {{student.sectionNum}}
    </p>
    {% endfor %}
</div>

{% endblock %} 
{% endcomment %}

<!-- We need form here for createing new flashcards-->