{%  extends 'base.html' %}

{% block content %}
<!--Divide the section here-->
<br>
<div style="padding: 4%; width: 50%;border: 1px solid; border-color: #adb5bd; margin: auto;">
    <section style="display: flex; justify-content: center;">
        <form id = 'editStudent' action="{% url 'editStudent' %}" method="post" enctype="multipart/form-data">
            <legend><h1 class="fw-light">{{student.fName}} {{student.lName}}</h1></legend>
            {% csrf_token %}
            <div class="mb-3">
            <label for="firstName" class="form-label">First Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="text" class="form-control" name='firstName'value="{{student.fName}}">
            </div>
            <div class="mb-3">
                <label for="lastName" class="form-label">Last Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="text" class="form-control" name='lastName' value="{{student.lName}}">
            </div>
            <div class="mb-3">
                <label for="Section"class="form-label">Section Number:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="number" class="form-control" name='Section' value='{{student.sectionNum}}'>
            </div>
            <div class="mb-3">
                <label for="groupNum" class="form-label">Group Number:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="number" class="form-control" name='groupNum'value='{{student.groupNum}}'>
            </div>
            <div class="form-check">
                <label for="male" class="form-check-label">Male&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="radio" class="form-check-input" name='gender' id='Male' value='M' {% if student.gender == 'M' %}checked{% endif %}><br>
                <label for="female" class="form-check-label">Female&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="radio" class="form-check-input" name='gender' id='Female' value='F' {% if student.gender == 'F' %}checked{% endif %}>
            </div><br>
            <div class="mb-3">
                <label for="funfact" class="form-label">Fun Fact:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="text" class="form-control" name='funfact' class="btn btn-sm btn-outline-secondary" value='{{student.funfact}}'>
            </div>
            <div class="mb-3">
                <div style="height: 200px; width:200px;">
                    <img style="max-height: 100%;" src="{{student.photo.url}}"/>
                </div>
                <br/>
                <label for="photo" class="form-label">Upload New photo:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="file" class="form-control form-control-lg" name="photo" id="photofile" accept='image/png, image/jpeg' class="btn btn-sm btn-outline-secondary"/>
            </div>
            <div class="input group mb-3">
                <label for="feedback" class="form-label">Have any feedback for us?&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <span class="input-group-text">Feedback</span>
                <textarea class="form-control" name='feedback' value='{{student.feedback}}'></textarea>
            </div>            
            <div class="input group mb-3">
                <input class="form-control" hidden name='id' value='{{student.id}}'></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Update</button> 
        </form>
        <form action="{% url 'delStud' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Delete</button>
            <input class="form-control" hidden name='id' value='{{student.id}}'></textarea>
        </form>

    </section>
</div>


{% comment %}
the top one works
<img src="{{student.photo.url}}" alt="Image had trouble Loading..." width="600"/>
<img src="https://drive.google.com/uc?export=view&id=1yUQk72gIEKcDKztQ5U1XUNfXGZ357lKG" alt="Didn't work yet"/>
{% endcomment %}




{% comment %} 
<main>       
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">{{student.fName}} {{student.lName}}</h1>
          <p class="lead text-muted">
            <form action="{% url 'editStudent' %}" method="post">
                {% csrf_token %}
                <label for="firstName">First Name: </label>
                    <input type="text" name='firstName' value='{{student.fName}}'><br>
                <label for="lastName">Last Name: </label>
                    <input type="text" name='lastName' value='{{student.lName}}'><br>
                <label for="Section">Section Number: </label>
                    <input type="number" name='Section' value='{{student.sectionNum}}'><br>
                <label for="groupNum">Group Number: </label>
                    <input type="number" name='groupNum' value='{{student.groupNum}}'><br>
                If block here to determin if checked-->
                <label for="male">Male: </label>
                    <input type="radio" name='gender' id='Male' value='M' {% if student.gender == 'M' %}checked{% endif %}><br>
                <label for="female">Female: </label>
                    <input type="radio" name='gender' id='Female' value='F' {% if student.gender == 'F' %}checked{% endif %}><br>
                <label for="funfact">Fun Fact: </label>
                    <input type="text" name='funfact' value='{{student.funfact}}'><br>
                <label for="photo">Upload new photo: </label>
                    <input type="file" name="newPhoto" id="photofile" accept='image/png, image/jpeg' ><br>
                <label for="feedback">Have any feedback for us?</label>
                    <input type="text" name='feedback' value='{{student.feedback}}'><br>
            
                <button type="submit">Add Me</button>
            </form>We are the IS CORE of 2022, be proud and Learn Your Classmates And Names</p>
          <p>
            <a href="/askhailsfuaf" class="btn btn-primary my-2">Study here</a>
            <a href="{% url 'index' %}" class="btn btn-secondary my-2">Add yourself or another student here</a>
          </p>
        </div>
      </div>
    </section>
  
    <div class="album py-5 bg-light">
      <div class="container">
  
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for student in our_students %}
                <div class="col">
                    <div class="card shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Could not find image for {{student.fName}} {{student.lName}}</text></svg>

                    <div class="card-body">
                        <p class="card-text">{{student.fName}} {{student.lName}}</p>
                        <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div>
                        <small class="text-muted">Section Number {{student.sectionNum}}</small>
                        </div>
                    </div>
                    </div>
                </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
</main>
{% endcomment %}

{% comment %} {% for student in our_students %}
    <div class="col">
        <div class="card shadow-sm">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Could not find image for {{student.fName}} {{student.lName}}</text></svg>

        <div class="card-body">
            <p class="card-text">{{student.fName}} {{student.lName}}</p>
            <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Delete</button>
            </div>
            <small class="text-muted">{{student.sectionNum}}</small>
            </div>
        </div>
        </div>
    </div>
{% endfor %} {% endcomment %}

<!--Divide the section here-->

{% endblock %}